Package: com.miwix.selenium
Name: Selenium
Depends: mobilesubstrate, firmware (>= 13.0)
Conflicts: me.nepeta.axon, com.hackyouriphone.axon
Version: 0.0.3
Architecture: iphoneos-arm
Depiction: https://lgariv.github.io/LaVie/depictions/?p=com.miwix.selenium
Description: Focus on what matters ⏱
Icon: https://lgariv.github.io/LaVie/depictions/com.miwix.selenium/icon.png
Maintainer: Lavie Gariv
Author: Lavie Gariv
Section: Tweaks
