Package: com.miwix.selenium
Name: Selenium
Conflicts: me.nepeta.axon, me.nepeta.axonreborn
Version: 1.0.0
Architecture: iphoneos-arm
Description: Snooze notifications. Focus on what matters⏱
Maintainer: Lavie Gariv
Author: Lavie Gariv
Section: Tweaks
