Package: me.snoozer.axon
Name: Snoozer
Depends: mobilesubstrate, firmware (>= 13.0)
Conflicts: me.nepeta.axon, io.ominousness.stackxi, com.thomasfinch.priorityhub, com.ioscreatix.intelixbeta, com.ioscreatix.intelix, com.spiritoflogic.ncunify, com.spiritoflogic.unifyx, com.hidan.nclink10, org.coolstar.ventana-modern, org.coolstar.ventana, org.s1ris.spinxi
Architecture: iphoneos-arm
Maintainer: Lavie Gariv
Author: Nepeta 
Section: Tweaks
Version: 0.0.1
Installed-Size: 1196
